
.ion-item-spacing {
    margin-bottom: 20px;
    color: aliceblue;
}

.ion-content-spacing {
    padding-top: 20px;

}

.container {
    padding: 10px;

}
::ng-deep.ion-input-field{
    border-radius: 10px !important;
}