<ion-header>
  <ion-toolbar>
    <ion-title class="text-white">+ Add Employee </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="container ion-content-spacing">
      <ion-item class="ion-item-spacing" fill="outline">
        <ion-label position="floating" class="text-dark fs-5">Name</ion-label>
        <ion-input type="text" formControlName="name" class="text-dark" [(ngModel)]="employeeobj.name"></ion-input>
        
      </ion-item>
      <ion-item class="ion-item-spacing" fill="outline">
        <ion-label position="floating" class="text-dark  fs-5">Email</ion-label>
        <ion-input formControlName="email" type="email" class="text-dark " [(ngModel)]="employeeobj.email"></ion-input>
      </ion-item>
      <ion-item class="ion-item-spacing" fill="outline">
        <ion-label position="floating" class="text-dark  fs-5">Age</ion-label>
        <ion-input formControlName="age" type="number" class="text-dark" [(ngModel)]="employeeobj.age"></ion-input>
      </ion-item>
      <ion-item class="ion-item-spacing" fill="outline">
        <ion-label position="floating" class="text-dark  fs-5">Mobile</ion-label>
        <ion-input type="number" formControlName="mobile" class="text-dark"
          [(ngModel)]="employeeobj.mobile"></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-button type="submit" [disabled]="!employeeForm.valid">Submit</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>